page-home {
    p {
        text-align: justify;
    }
    a {
        text-decoration: none;
        color: #a80000;
    }
    h2 {
        text-align: justify;
        padding: 10px 10px 0 10px;
        color: #a80000;
    }
}
